.header {
    background-color: greenyellow;
    margin: 0.5rem;
    padding: 1rem 0.5rem;

}

.btn {
    padding: 0.5em;
}

.btn-green {
    background-color: green;
}

.btn-red {
    background-color: red;
}